.claim-logo {
	width: 68px;
	height: 60px;
	background-image: url(../images/claims_new.png)
		!important;
	background-size: 61px 57px !important;
	background-repeat: no-repeat;
	background-color: #E7A000 !important;
	float: left;
	margin-right: 5px;
	background-position: 2px;
}

.navbar {
	background: #FFF none repeat scroll 0 0 !important;
    border-bottom: 3px solid #E7A000 !important;
    margin: 0px;
    padding: 0%;
}

.navbar .container {
    margin: 0px;
}

.uui-ui {
	width: 68px !important;
	height: 55px;
	float: left;
	margin: 6px;
	cursor: pointer;
	background-color: #01628F;
	border-radius: 6px;
	background-repeat: no-repeat;
	background-position: 3px -1px;
	background-image: url(../images/uui_icon.png);
}

.w-icon .uui_text {
	width: 100%;
	text-align: center;
	font-size: 15px !important;
	cursor: pointer;
	line-height: 11px !important;
	margin-top: 2px !important;
	float: left;
}

.concerto-ui {
	background-image: url(../images/concerto_icon.png);
	width: 68px !important;
	height: 55px;
	float: left;
	margin: 6px;
	cursor: pointer;
	background-color: #209E14;
	border-radius: 6px;
	background-repeat: no-repeat;
	background-position: 2px -2px;
}

.capri-ui {
	background-image: url(../images/capri_icon.png);
	width: 68px !important;
	height: 55px;
	float: left;
	margin: 6px;
	cursor: pointer;
	background-color: #D92E2C;
	border-radius: 6px;
	background-repeat: no-repeat;
	background-position: 2px -3px;
}

.rm-ui {
	background-image: url(../images/rm_module_icon.png);
	width: 68px !important;
	height: 55px;
	float: left;
	margin: 6px;
	cursor: pointer;
	background-color: #A2156E;
	border-radius: 6px;
	background-repeat: no-repeat;
	background-position: 3px -2px;
}

.element-ui {
	background-image: url(../images/element_icon.png);
	width: 68px !important;
	height: 55px;
	float: left;
	margin: 6px;
	cursor: pointer;
	background-color: #14969B;
	border-radius: 6px;
	background-repeat: no-repeat;
	background-position: 2px -3px;
}

.edrat-ui {
	background-image: url(../images/edrat_icon.png);
	width: 68px !important;
	height: 55px;
	float: left;
	margin: 6px;
	cursor: pointer;
	background-color: rgba(82, 4, 161, 0.91);
	border-radius: 6px;
	background-repeat: no-repeat;
	background-position: 2px -3px;
}

.home-icon {
    width: 25px;
    height: 25px;
    background-size: 25px 25px !important;
    background-repeat: no-repeat;
    background-image: url("../images/home_icon.png");
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    box-sizing: border-box;
    line-height: 20px;
    vertical-align: middle;
    cursor: pointer;    
}

.user-icon {
    background-image: url(../images/user.png);
    height: 21px;
    width: 21px;
    float: left;
    margin-right: 0px;
}

.user-dropdown a.dropdown-toggle {
    padding-left: 5px;
}

.question {
	background-image: url(../images/help.png);
	height: 21px;
	width: 21px;
	float: left;
	margin-right: 0px
}

.help-link.navbar-text {
    margin-left: 5px;
}

.breadcrumbs {
    margin-bottom:5px;
    display:inline-block;
}

.sub-nav {
    height: 45px;
    background-color: #EDEDED;
}

.sub-nav .new-req-button {
    margin-right: 15px;
    background-color: transparent;
    border-color: transparent;
}